<div class="content-wrapper">
    <div class="insta-iframe">
        <div class="no-post" *ngIf="receivedPostId===''">
            <div class="cute-hamster"></div>
            <h6>No Post Selected</h6>
        </div>
       <app-insta-post *ngIf="receivedPostId!==''" [postId]="receivedPostId"></app-insta-post>
    </div>
    <div class="show-notes" *ngIf="receivedPostId!==''">
        <h6>{{postTitle}}</h6>
        <p>{{postNotes}}</p>
        <ol *ngFor="let item of postLinks; let i=index">
            <li><a [href]="item" target="_blank">{{i+1}}. {{item}}</a></li>
        </ol>  
    </div>
</div>
