<div class="content-wrapper">
    <div class="insta-iframe">
       <!-- <app-insta-post></app-insta-post> -->
    </div>
    <div class="post-details">
        <ol type="1">
            <p>How to write the span tag inside html?</p>
            <li>Website 1</li>
            <li>Website 2</li>
            <li>Website 3</li>
            <li>Website 4</li>
            <li>Website 1</li>
            <li>Website 2</li>
            <li>Website 3</li>
            <li>Website 4</li>
            <li>Website 1</li>
            <li>Website 2</li>
            <li>Website 3</li>
            <li>Website 4</li>
        </ol>
    </div>
</div>
