<div class="container">
    <ng-toast></ng-toast>
    <div class="dashboard">
        <app-dashboard (activeDashBoardItem)="getActiveDashboardItem($event)"></app-dashboard>
    </div>
    <div class="home">
        <app-home (homeToApp)="getEditPostId($event)" [sentrecentPost]="recentPost" [activeDashBoardMenu]="activeDashboardMenu"></app-home>
    </div>
    <div class="content">
        <app-content *ngIf="!isEditClicked" [receivedPostId]="editData"></app-content>
        <app-add-menu *ngIf="isEditClicked" [receivedEditPost]="editData" 
        (instaNotesData)="getInstaNotesData($event)"></app-add-menu>
    </div>
</div>