<div class="add-menu-wrapper">
    <div class="add-container">
        <h6>Add Post Details</h6>
        <form (ngSubmit)="savePostDetails()" [formGroup]="myForm">
            <ul>
                <li>Paste URL</li>
                <li><input type="text" class="url"  required [value]="receivedEditPost.postid" formControlName="url"></li>
                <li>Title</li>
                <li><input type="text" class="title"  required [value]="receivedEditPost.postTitle" formControlName="title"></li>
                <li>Category</li>
                <li><select type="s" class="title"  required [value]="receivedEditPost.postCategory" formControlName="category">
                    <option disabled selected value> -- Select an Option --</option>
                    <option *ngFor="let item of dashBoardItems | slice:1:dashBoardItems.length-1" value="{{item.name}}">{{item.name}}</option>
                </select></li>
                <li>Keywords <span><p class="separate-comma">[separated By Comma,]</p></span></li>
                <li><input type="text" class="keywords"  required [value]="receivedEditPost.postkeyWords" formControlName="keywords"></li>
                <li>Notes</li>
                <li><textarea class="notes" id="" cols="30" rows="5"  [value]="receivedEditPost.notes" formControlName="notes"></textarea></li>
                <li class="add-link-btn"><button type="button" (click)="addLink()">+</button><span>Add Links if any..</span></li>
                    <li *ngFor="let input of addedLinks; let i = index" class="link-card">
                        <div class="cancel-btn" (click)="deleteLink(i)"></div>
                        <input type="text" placeholder="Add sites here" [value]="input" (blur)="pushAddedLinks($event,i)" />
                    </li>
                <li class="add-buttons"><button type="submit">Save</button><button type="button" (click)="clearButton()">Clear</button></li>
            </ul>
        </form>
    </div>
</div>
