<div class="dashboard-wrapper">
  <div class="dashboard-items">
    <ul>
      <li
        *ngFor="let item of dashBoardItems"
        [ngStyle]="item.active ? { color: '#5E81F4' } : {}"
        (click) = "checkActive(item.name)"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
        <p>{{ item.name }}</p>
      </li>
    </ul>
  </div>
  <!-- <div class="spline-red-panda">
    <div class="remove-logo"></div>
    <iframe src='https://my.spline.design/turningredpandafanartcopy-5666fcd61bfaaaac004182e11c429f74/' frameborder='0' width='100%' height='100%'></iframe>
  </div> -->
  <!-- <div class="profile">
    <fa-icon [icon]="profile"></fa-icon>
    <p>Profile</p>
  </div> -->
</div>
