<div class="dashboard-wrapper">
  <div class="dashboard-items">
    <ul>
      <li>
        <fa-icon [icon]="paintBrush"></fa-icon>
        <p>Design</p>
      </li>
      <li>
        <fa-icon [icon]="apple"></fa-icon>
        <p>Tech</p>
      </li>
      <li>
        <fa-icon [icon]="money"></fa-icon>
        <p>Trading</p>
      </li>
      <li>
        <fa-icon [icon]="book"></fa-icon>
        <p>Interview</p>
      </li>
      <li>
        <fa-icon [icon]="ai"></fa-icon>
        <p>AI</p>
      </li>
    </ul>
  </div>
  <div class="profile">
    <fa-icon [icon]="profile"></fa-icon>
    <p>Profile</p>
  </div>
</div>
