.dashboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  padding: 1rem;
}

.dashboard-items,
.profile {
  width: 90%;
  background-color: white;
  margin-top: 5rem;
  padding-left: 1rem;
}

.dashboard-items > ul > li {
  list-style: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.active-dashboard { 
  background-color: #f5f5fb;
}

.dashboard-items > ul > li:hover,
.profile:hover {
  border-radius: 0.5rem;
  background-color: #f5f5fb;
}

/* .dashboard-items > ul > li:nth-child(1) {
  border-right: 6px solid #5e81f4;
} */

.spline-red-panda {
  height: 50%;
  width: 100%;
  position: relative;
}

iframe {
  cursor: pointer;
}

.profile {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
}

.remove-logo {
  position: absolute;
  width: 100%;
  height: 21%;
  background: white;
  bottom: 0;
}
