<div class="home-wrapper">
  <div class="title-phase">
    <h6>Insta Notes</h6>
    <div class="search-wrap">
      <input  type="text" placeholder="Search" [(ngModel)]="searchItem" (focus)="setNoPostSelected()" />
      <div class="search-icon"></div>
      <!-- <button (click)="setSearchStatus()">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button> -->
    </div>
  </div>
  <div class="tag-phase">
    <button (click)="addNewPost()">Add Post</button>
    <button *ngIf="searchPost().length>1" (click)="setTagToNull()">All</button>
    <button *ngFor="let tag of tags | slice:0:16" (click)="filterTag(tag)">{{ tag }}</button>
  </div>
  <div class="content-list-phase">
    <table cellspacing="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th colspan="2">Title</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let data of searchPost()">
          <td>{{ data.postTime | date:'MMM-d' }}</td>
          <td>{{ data.postCategory }}</td>
          <td (click)="showPost(data.postid)">{{ data.postTitle }}</td>
          <td>
            <div class="post-buttons">
              <button (click)="editPost(data.postid)"><fa-icon [icon]="editIcon"></fa-icon></button>
              <button (click)="deletePost(data.postid)"><fa-icon [icon]="deleteIcon"></fa-icon></button>
            </div>
          </td>     
        </tr>
      </tbody>
    </table>
  </div>
</div>
